{% extends 'base_nav.html' %}
{% block login_active %}active{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<style>
</style>
   
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
            }
          }
          return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
           return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
               if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                   xhr.setRequestHeader("X-CSRFToken", csrftoken);
             }
          }
        });
    </script>
<!--     <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
 -->  <!-- //css files -->
  
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
  <!-- //google fonts -->
 


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
  var marks = [];
  var neg_marks = []
</script>
<style>
body {
  font-family: Arial;
  color: white;
  overflow: hidden
}

.split {
  height: 100%;
  
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  margin-left: 10px;
  
  width: 35%;
  left: 0;
  background-color: white;
}

.right {
  width: 65%;
  /*height:40%;*/
  right: 0;
  /*background-image: linear-gradient(to bottom left,#00bda5,#00afb2 56%,#00a4bd); background-color: #39d87d;*/
  background-color: #383838;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 97%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: auto;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 150px;
  
}

a:hover { 
  color: Lightgray;
}

hr.new5 {
  border: 10px solid white;
  border-radius: 5px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.login_btn{
color: black;
background-color: #FFC312;
width: auto;
margin: 30px;
}

.login_btn:hover{
color: white;
background-color: #856f90;
font-weight: 1000;
}

p.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 5px;
  font-size: 20px;
  float: right;
  color:black;
  margin: 5px;
}
</style>
</head>
<body>

<div class="split left">
  <center><h1 style="color: black; "> Questions List</h1></center>
  <center>
    {% for q in ques %}
        {% if forloop.first %}<div class="row text-center" style="margin: 10px;">{% endif %}
        <div class="col-lg-3 col-md-6 col-sm-6" >
          <div class="thumbnail">
          <div class="caption">
            <p><a href="#{{forloop.counter}}" role="button" class="btn btn-danger btn-block" id="scroll{{forloop.counter}}">{{forloop.counter}}</a></p>
          </div>
        </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}</div><div class="row text-center" style="margin: 10px;">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</center>
  
</div>

<div class="split right">
  <p class="sticky" id="timer"></p>
    <div class="container">
      <h2 class="card-title" style="color:white;">{{quiz.title}}</h2>
      <hr class="new5">
      <div>

      {% if quiz.marking == "same" %}
      {% for q in ques %}
        <p style="float: right; margin: 5px;">[{{marks}} marks]</p>
        <script type="text/javascript">
          marks.push(Number("{{marks}}"));
          neg_marks.push(Number("{{neg_marks}}"));
        </script>
        <p id="{{forloop.counter}}">{{forloop.counter}}. {{q.question}}</p>
        <input type="radio" id="{{forloop.counter}}option1" name="{{forloop.counter}}" value="1">
        <label for="{{forloop.counter}}option1">{{q.option_1}}</label><br>
        <input type="radio" id="{{forloop.counter}}option2" name="{{forloop.counter}}" value="2">
        <label for="{{forloop.counter}}option2">{{q.option_2}}</label><br>
        <input type="radio" id="{{forloop.counter}}option3" name="{{forloop.counter}}" value="3">
        <label for="{{forloop.counter}}option3">{{q.option_3}}</label><br>
        <input type="radio" id="{{forloop.counter}}option4" name="{{forloop.counter}}" value="4">
        <label for="{{forloop.counter}}option4">{{q.option_4}}</label>
        <hr>
      {% endfor %}
      {% else %}
      {% for q in ques %}
        {% if q.level == "easy" %}
        <p style="float: right; margin: 5px;">[{{easy_marks}} marks]</p>
        <script type="text/javascript">
          marks.push(Number("{{easy_marks}}"));
          neg_marks.push(Number("{{easy_neg_marks}}"));
        </script>
        {% elif q.level == "medium" %}
        <p style="float: right; margin: 5px;">[{{medium_marks}} marks]</p>
        <script type="text/javascript">
          marks.push(Number("{{medium_marks}}"));
          neg_marks.push(Number("{{medium_neg_marks}}"));
        </script>
        {% else %}
        <p style="float: right; margin: 5px;">[{{hard_marks}} marks]</p>
        <script type="text/javascript">
          marks.push(Number("{{hard_marks}}"));
          neg_marks.push(Number("{{hard_neg_marks}}"));
        </script>
        {% endif %}
        <p id="{{forloop.counter}}">{{forloop.counter}}. {{q.question}}</p>
        <input type="radio" id="{{forloop.counter}}option1" name="{{forloop.counter}}" value="1">
        <label for="{{forloop.counter}}option1">{{q.option_1}}</label><br>
        <input type="radio" id="{{forloop.counter}}option2" name="{{forloop.counter}}" value="2">
        <label for="{{forloop.counter}}option2">{{q.option_2}}</label><br>
        <input type="radio" id="{{forloop.counter}}option3" name="{{forloop.counter}}" value="3">
        <label for="{{forloop.counter}}option3">{{q.option_3}}</label><br>
        <input type="radio" id="{{forloop.counter}}option4" name="{{forloop.counter}}" value="4">
        <label for="{{forloop.counter}}option4">{{q.option_4}}</label>
        <hr>
      {% endfor %}
      {% endif %}
      </div>
      <center><p role="button" class="btn btn-primary" id ="btn_end" onclick="answer_submit()">Submit the Quiz</p></center>
    </div>
  </div>
<script> 
var hours = Number("{{hours}}");
var minutes = Number("{{minutes}}");
var seconds = Number("{{seconds}}");
// var hours = 0;
// var minutes = 1;
// var seconds = 0;
 
if (seconds == 0 && minutes-1 >=0){
  seconds = 59;
  minutes-=1;
}
document.getElementById("timer").innerHTML = format_time(hours) + ":" + format_time(minutes) + ":" + format_time(seconds);
setTimeout(function(){ document.getElementById("timer").innerHTML = format_time(hours) + ":" + format_time(minutes) + ":" + format_time(seconds); }, 1000);

var x = setInterval(function() {  
  seconds-=1;
  if (seconds == 0 && minutes-1 >= 0){
    seconds = 59;
    minutes -= 1;
  }
  if (minutes == 0 && hours-1 >= 0){
    minutes = 59;
    hours -= 1;
  }

  document.getElementById("timer").innerHTML = format_time(hours) + ":" + format_time(minutes) + ":" + format_time(seconds); 
      if (seconds == 0 && minutes == 0 && seconds == 0) {  
          document.getElementById("btn_end").click();
          clearInterval(x);
      } 
  temp = []
  {% for i in ques %}
    temp.push(document.getElementsByName("{{forloop.counter}}"));
  {% endfor %}
  for (var ele=0; ele< temp.length ;ele++){
    flag = true;
    for(var i = 0; i < temp[ele].length; i++) { 
                if(temp[ele][i].checked){ 
                  flag = false;
                }
                
            }
            if(flag == false){
              document.getElementById("scroll"+String(ele+1)).classList.remove('btn-danger');
              document.getElementById("scroll"+String(ele+1)).classList.add('btn-success');
            } 
  }
}, 1000); 

function format_time(num){
  if (num<=9) return number = "0" + String(num);
  else return String(num);
}

var answers = [];
{% for i in ques %}
  answers.push(Number("{{i.answer}}"));
{% endfor %}

console.log(answers);
console.log(marks);
console.log(neg_marks);

function answer_submit(){
  var user_answers = [];
  var answer_store = [];
  {% for i in ques %}
    answer_store.push(document.getElementsByName("{{forloop.counter}}"));
  {% endfor %}
  for (var ele=0; ele< answer_store.length ;ele++){
    flag = true;
    for(var i = 0; i < answer_store[ele].length; i++) { 
                if(answer_store[ele][i].checked){ 
                  user_answers.push(Number(answer_store[ele][i].value));
                  flag = false;
                }
                
            }
            if(flag) user_answers.push(0);
  }
  console.log(user_answers)

  $.get('/quiz/quiz_submit/'+"{{quiz.slug}}", {'answers' : answers, 'marks': marks, 'neg_marks':neg_marks, 'user_answers': user_answers},function(data){$('body').html(data);});

//   $.ajax({
//     // points to the url where your data will be posted
//     url:'/quiz/quiz_submit/'+"{{quiz.slug}}",
//     // post for security reason
//     type: "POST",
//     contentType: 'application/json',
//     // data that you will like to return 
//     data: JSON.stringify({'answers' : answers, 'marks': marks, 'neg_marks':neg_marks, 'user_answers': user_answers, 'csrfmiddlewaretoken': '{{csrf_token}}'}),
//     // what to do when the call is success 
//     success:function(data){console.log(data);},
//     // what to do when the call is complete ( you can right your clean from code here)
//     complete:function(){},
//     // what to do when there is an error
//     error:function (xhr, textStatus, thrownError){console.log(thrownError);}
// });
}

</script>
</body>
</html> 

{% endblock %}


