{% extends 'base_nav.html' %}
{% block login_active %}active{% endblock %}

{% block body %}

    <div class="container">    
        <div class="jumbotron" style="margin: 10px;">
            <h1>{{quiz.title}}</h1><br>
 			<p><b>Marks obtained: </b>{{achieved_marks}}</p>
 			<p><b>Total Marks: </b>{{total_marks}}</p>
 			<p><b>Pass Marks: </b>{{pass_marks}}</p>
 			<p><b>Result Status: </b>{{result}}</p>
 			<center><p><a href="{% url 'index' %}" role="button" class="btn btn-primary ">Go to home page</a></p></center>
        </div>
	</div>

<br><br>
{% endblock %}
